/node_modules
/public/hot
/config/admin_settings.php
/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/vendor/arcanedev
/vendor/bin
/vendor/bootstrap
/vendor/composer
/vendor/dnoegel
/vendor/doctrine
/vendor/dompdf
/vendor/egulias
/vendor/erusev
/vendor/ezyang
/vendor/fideloper
/vendor/flip
/vendor/firebase
/vendor/fzaninotto
/vendor/grimthorr
/vendor/guzzlehttp
/vendor/hamcrest
/vendor/intervention
/vendor/jakup-onderka
/vendor/jenssegers
/vendor/laravel
/vendor/laravelcollective
/vendor/league
/vendor/mews
/vendor/mockery
/vendor/monolog
/vendor/mtdowling
/vendor/myclabs
/vendor/nesbot
/vendor/nikic
/vendor/paragonie
/vendor/phar-io
/vendor/phenx
/vendor/phpdocumentor
/vendor/phpspec
/vendor/phpunit
/vendor/psr
/vendor/psy
/vendor/ramsey
/vendor/sabberworm
/vendor/sebastian
/vendor/stripe
/vendor/swiftmailer
/vendor/symfony
/vendor/theseer
/vendor/tijsverkoyen
/vendor/vlucas
/vendor/webmozart
/vendor/yajra